.Tasks .task h3 {
  margin: 2vmin 0;
}

.Tasks .form {
  display: flex;
  flex-direction: column;
}

.Tasks .answer {
  display: flex;
  align-items: flex-start;
}

.Tasks .answers {
  margin-bottom: 3vmin;
}

.Tasks input[type="radio"],
input[type="checkbox"] {
  margin-right: 1vmin;
  position: relative;
  top: 1vmin;
}

.Tasks input[type="text"] {
  width: 50%;
  height: calc(4vmin);
  padding: 0.5vmin 1vmin;
  font-size: calc(2vmin);
  text-overflow: ellipsis;
}

.Tasks .button {
  margin: 5vmin 0;
  height: 3vmin;
  padding: 2vmin;
  font-size: 2vmin;
  background-color: #61dafb;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  align-self: center;
  border-radius: 0.5vmin;
  border: 0;
  cursor: pointer;
}

.Tasks .button:hover {
  box-shadow: 0 0 10px #61dafb;
}
